<%- include("partials/header.ejs") %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Local Breweries</title>
</head>

<main>
    <div class= "container" id="brewery_list">
        <h2>Types of Breweries:</h2>
        <ul id="brewery_types">
          <li>Micro</li><pre>- Most craft breweries.  For example, Samuel Adams is still considered a craft brewery.</pre>
          <li>Nano</li><pre>- An extremely small brewery which typically only distributes locally.</pre>
          <li>Regional</li><pre>- A regional location of an expanded brewery.  Ex. Sierra Nevada's Asheville, NC location.</pre>
          <li>Brew Pub</li><pre>- A beer-focused restaurant or restaurant/bar with a brewery on-premise.</pre>
          <li>Large</li><pre>- A very large brewery.  Likely not for visitors.  Ex. Miller-Coors. (depreciated)</pre>
          <li>Planning</li><pre>- A brewery in planning or not yet opened to the public.</pre>
          <li>Bar</li><pre>-A bar.  No brewery equipment on premise. (depreciated)</pre>
          <li>Contract</li><pre>- A brewery that uses another brewery's equipment.</pre>
          <li>Proprietor</li><pre>- Similar to contract brewing but refers more to a brewery incubator.</pre>
          <li>Closed</li><pre>- A location which has been closed.</pre>
        </ul><br>
        <a href="/">Back to Selection: </a>
    </div>
</main><br><br><br>
    
<%- include("partials/footer.ejs") %>
          
  